<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.eventsly" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Title"
            android:label="@string/Title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Login"
            android:label="@string/Login"
            android:screenOrientation="portrait">
            </activity>

        <activity android:name=".SignUp"
            android:label="@string/SignUp"
            android:screenOrientation="portrait">
            </activity>

        <activity android:name=".Role"
            android:label="@string/Role"
            android:screenOrientation="portrait">
            </activity>

    </application>

</manifest>
